*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}
body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:7rem;
}

.animacao{
    transition: 0.5s;
}

.animacao:hover{
    transform: scale(1.1);
}